

body {
	font: normal 100%/140% Georgia, serif;
	width: 960px;
	margin: 0 auto;
}

h1 {
	font-size: 4em;
}
h2 {
	font-size: 2em;
}

p {
	width: 600px;
}

article p:first-child {
	background-color: #aaa;
}

article > p:first-child:first-letter {
	font-size: 4em;
}


.photos {
	float: right;
	width: 645px;
	margin: 25px 0 25px 25px;
}
.caption {
	color: #888;
}